@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');



nav {
  padding: var(--default-padding);
  gap: 0.5rem;
  border-bottom: solid 1px var(--background-color);
  background-color: var(--background-color);

}

#logo {
  font-family: "Merienda", cursive;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
}

.navMenu {
  align-items: center;
}

.nav1 p {
  color: var(--font-color);
}

main {
  padding: var(--default-padding);
  position: relative;
}


span {
  font-size: var(--p-size);
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}


footer {
  padding: var(--default-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5vh;
  border-top: 1px solid var(--primary-color);
  background-color: #eee;
}

h3 {
  justify-content: center;
}

#footerNav {
  justify-content: center;
}

#footerNotes {
  display: flex;
  align-items: center;
  gap: 10vw;
}

#footerNotes a {
  text-decoration: none;
  color: black;
}

#footerNotes a:hover {
  text-decoration: underline;
}

#footerNotes a:visited {
  color: gray;
}
