nav {
  padding: var(--default-padding);
  gap: 0.5rem;
  border-bottom: solid 1px var(--background-color);
  background-color: var(--background-color);

}

.navMenu {
  align-items: center;
}

.nav1 p {
  color: var(--font-color);
}

main {
  padding: var(--default-padding);
}

h1 {
  font-weight: bold;
  font-size: var(--h1-size);
  width: 100%;
  padding-top: var(--default-padding);
  color: var(--font-color);
}

.heroP {
  font-size: var(--p-size);
  text-transform: capitalize;
  color: var(--font-color);
}

span {
  font-size: var(--p-size);
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}


footer {
  padding: var(--default-padding);
}
